@import './variables.scss';
@import './components/navbar.scss';
@import './components/button.scss';
@import './sections/blog.scss';
@import './sections/footer.scss';
@import './sections/gallery.scss';
@import './sections/home.scss';
@import './sections/menu.scss';
@import './sections/opening.scss';
@import './sections/reservation.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.body {
  height: 100vh;
}