.gallery {
  height: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $blue-white;

  .title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 2.5em;
    font-weight: 600;
  }

  .images {
    height: 340px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
  }
}

.gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-size-s {
  height: 340px;
  width: 187px;
}

.img-size-m {
  height: 340px;
  width: 370px;
}

.img-size-l {
  height: 340px;
  width: 471px;
}

.color1 {
  background-color: $grey;
}

.color2 {
  background-color: $dark-grey;
}