.menu {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 1180px) {
    height: 1100px;
  }

  .elements {
    width: 60vw;
    display: flex;

    @media only screen and (max-width: 1180px) {
      width: 90vw;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.food-menu,
.today-special {
  width: 30vw;

  @media only screen and (max-width: 1180px) {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.food-menu-title,
.today-special-title {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 20px;

  @media only screen and (max-width: 1180px) {
    display: flex;
    justify-content: center;
    align-items: cente
  }
}

.dish {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  padding-bottom: 45px;

  @media only screen and (max-width: 1180px) {
    padding-right: 0;
    padding-bottom: 45px;
    justify-content: center;
    width: 90vw;
  }
}

.dish-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.2em;
  font-weight: 800;
}

.price {
  font-size: 1.7em;
  font-weight: bold;
}

.special-elements {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1180px) {
    justify-content: center;
    margin-left: 40px;
  }
}

.special1 {
  box-shadow: 77px 29px 91px -9px rgba(0, 0, 0, 0.3);

  .image {
    background-color: $grey;
    color: white;
    width: 320px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      width: 200px;
      height: 150px;
    }
  }
}

.special-desc {
  padding: 30px;
  background-color: white;

  @media only screen and (max-width: 600px) {
    padding: 15px;
    padding-left: 40px;
  }

  .name {
    font-size: 1.4em;
    font-weight: bold;

    @media only screen and (max-width: 600px) {
      font-size: 1.2em;
    }
  }

  .price {
    color: $orange;
    font-size: 1.4em;
    font-weight: 800;

    @media only screen and (max-width: 600px) {
      font-size: 1em;
    }
  }
}

.special2 {
  z-index: -1;
  transform: translateX(-50px);
  box-shadow: 24px 33px 100px -12px rgba(0, 0, 0, 0.3);

  .image {
    background-color: $grey;
    color: white;
    width: 320px;
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      width: 200px;
      height: 120px;
    }
  }
}