.reservation {
  height: 550px;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;

  .elements {
    display: flex;
    justify-content: center;
    align-items: center;

    .image1 {
      height: 293px;
      width: 293px;
      background-color: $grey;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateY(-170px);

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .image2 {
      height: 234px;
      width: 241px;
      background-color: $grey;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateY(180px);

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .center {
      width: 45vw;
      padding: 0 15px;

      @media only screen and (max-width: 600px) {
        width: 100vw;
        padding: 0;
      }
    }
  }
}

.reservation-title {
  color: white;
  font-size: 2.5em;
  font-weight: 600;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 600px) {
    margin-top: 40px;
  }
}

.reservation-data {
  display: flex;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data1,
  .data2 {
    display: flex;
    flex-direction: column;

    .data-space {
      background-color: white;
      width: 400px;
      height: 55px;
      margin: 5px 15px;
      border-radius: 3px;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 600px) {
        width: 300px;
        height: 40px;
        margin-bottom: 5px;
      }
    }
  }
}

.question-mark {
  padding: 0 15px;
}

.reservation-bottom {
  display: flex;
  padding: 30px 15px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .call-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .call-txt {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      margin-left: 40px;
      margin-right: 30px;

      @media only screen and (max-width: 600px) {
        margin-left: 0;
        margin-right: 30px;
      }
      
      .call-txt-bottom {
        color: $pink;
      }
    }

    .phone {
      color: white;
      font-size: 1.5em;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
